<?xml version="1.0"?>

<launch>

	<arg name="laser_enabled" default="true"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="world_name" value="$(find husky_high_level_controller)/world/singlePillar.world"/>
	    <arg name="paused" value="false"/>
	    <arg name="use_sim_time" value="true"/>
	    <arg name="gui" value="true"/>
	    <arg name="headless" value="false"/>
	    <arg name="debug" value="false"/>
 	</include>

	<include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    	<arg name="laser_enabled" value="$(arg laser_enabled)"/>
	</include>

	
 	<node name="husky_high_level_controller" 
	 	  pkg="husky_high_level_controller" 
		  type="husky_high_level_controller"
		  output="screen">

		<rosparam file="$(find husky_high_level_controller)/config/parameters.yaml" command="load"/>

	</node>

	<node name="rviz" pkg="rviz" type="rviz" 
		  args="-d $(find husky_high_level_controller)/config/rviz.rviz"/>

</launch>